* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    
    padding: 5px;
}

header {
    background-color: #004a80;
    color: black;
    padding:  0;
    text-align: center;
    border-radius: 8px;
}

header h1 {
    font-size: 2.6em;
    margin-bottom: 10px;
}
.navbar {
    display: flex;
    align-items: center;
    margin-top: auto;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    background: url(bg.png) no-repeat center/cover;
}
.logo {
    width: 370px;
    height: 150px;
    border-radius: 30%;
    object-fit: cover;
}

nav ul {
    list-style: none;
    padding: 20px;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
    position: relative;
}

nav ul li a {
    color: black ;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5em;
}

nav ul li a:hover {
    background-color: rgba(248, 239, 239, 0.799);
    border-radius: 5px;
    padding: 0.2rem  0.3rem;
    box-shadow: 0 8px 24px 6px;
}

.dropdown_menu { 
    display: none;
    position:  absolute;
    left: 0;
    top: 100%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}
.dropdown_menu ul {
    display: block;
    margin: 10px;
}
.dropdown_menu ul li {
    font-size: 5px;
    width: 100px;
    box-shadow: 0 8px 24px 6px;
}
nav ul li:hover  .dropdown_menu{
    display: block;
}
.small-font-dropdown {
    font-size: 12px;
}

main {
    margin: 20px 0;
    background-color: rgba(248, 239, 239, 0.799);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

main h2 {
    color: #004a80;
    margin-bottom: 15px;
    font-size: 2em;
}

main p {
    font-size: 1.1em;
    margin-bottom: 10px;
    line-height: 1.8;
    color: black;
    p1{
        font-size: 3.1em;
        margin-bottom: 10px;
        line-height: 2.8;  
    }
}

section {
    margin-bottom: 200px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
    margin-bottom: 4px;
    font-weight: italic;
    color: #004a80;
}

input[type="text"],
input[type="email"],
textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    width: 100%;
}

textarea {
    resize: vertical;
}

button {
    padding: 10px 15px;
    background-color: #004a80;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background-color: #003366;
}

footer {
    background-color: rgba(14, 32, 239, 0.393);
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    margin-top: 20px;
    box-shadow: #004a80;
}

footer p {
    font-size: 1em;
}

@media (max-width: 1000px) {
    header h1 {
        font-size: 2em;
    }

    nav ul li {
        display: inline;
        margin: 10px 0;
    }

    main {
        padding: 15px;
    }

    main h2 {
        font-size: 1.8em;
    }

    nav ul li a {
        font-size: 1.1em;
    }

    form {
        padding: 15px;
    }

    button {
        font-size: 1em;
        padding: 10px;
    }
}

